<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
  </head>

  <body>
    <header>
      <%= link_to("Flowbite Components", root_path) %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <article>
        <%= yield %>
      </article>
    </main>

    <footer class="container mx-auto mt-28 px-5 flex">
      <div>
        <div>
          <%= link_to("GitHub", "https://github.com/substancelab/flowbite-components") %>
          <%= link_to("RubyGems", "https://rubygems.org/gems/flowbite-components") %>
          <%= link_to("RubyDoc documentation", "https://www.rubydoc.info/gems/flowbite-components/") %>
        </div>

        <div>
          Licensed under the <%= link_to("MIT License", "https://github.com/substancelab/flowbite-components/blob/main/LICENSE") %>, except where otherwise stated
        </div>

        <div>
          The Flowbite name and logos are trademarks of <%= link_to("Bergside Inc", "https://flowbite.com/brand/") %>.
          The Tailwind name and logos are trademarks of <%= link_to("Tailwind Labs Inc", "https://tailwindcss.com/brand") %>.
        </div>
      </div>
    </footer>
  </body>
</html>
