<!DOCTYPE html>
<html class="<%= params.dig(:lookbook, :display, :theme) %>">
  <head>
    <title><%= content_for(:title) || "Demo" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag :app %>
  </head>

  <body class="bg-neutral-primary text-body">
    <% if params[:lookbook_embed] %>
      <main class="flex p-5">
        <%= yield %>
      </main>
    <% else %>
      <main class="container mx-auto mt-12 flex">
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
