<h1 class="font-bold text-4xl">Rails meets Flowbite</h1>
<p>UI component library for Rails, built using ViewComponents, Flowbite, and Tailwind CSS.</p>

<div>
  <%= link_to("Get started", "https://github.com/substancelab/flowbite-components?tab=readme-ov-file#installation") %>
  <%= link_to("View components", "/lookbook") %>
</div>

<div>
  <h2>Designed by Flowbite</h2>
  <p>Open-source library of over 600+ UI components, sections, and pages.</p>
  <%= link_to("Flowbite", "https://flowbite.com") %>
</div>

<div>
  <h2>Powered by Tailwind CSS</h2>
  <p>Utility-first CSS framework that can be composed to build any design, directly in your markup.</p>
  <%= link_to("Tailwind CSS", "https://tailwindcss.com") %>
</div>

<div>
  <h2>Built with ViewComponent</h2>
  <p>Reusable, testable & encapsulated view components for Ruby on Rails.</p>
  <%= link_to("ViewComponent", "https://viewcomponent.org") %>
</div>
