<article
  class="
    flex flex-wrap gap-8 w-full max-w-screen-xl
    justify-between mx-auto
  "
>
  <nav
    class="
      -ml-2 pr-6 py-4 overflow-y-auto border-e border-default
    "
    id="default-sidebar"
    aria-label="Sidebar"
  >
    <%= render(Flowbite::Sidebar::Navigation.new) do |nav| %>
      <% all_pages.each do |page| %>
        <% nav.with_item do %>
          <%= render(Flowbite::Sidebar::Item.new(href: docs_page_path(page.slug)).with_content(page.title)) %>
        <% end %>
      <% end %>
    <% end %>
  </nav>
  <main class="py-4 flex-1">
    <div class="format dark:format-invert">
      <h1 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"><%= @page.title %></h1>

      <%= render_markdown(@page.content) %>
    </div>

    <div class="flex justify-between">
      <% if @previous_page %>
        <div class="mt-8">
          <%= link_to "← #{@previous_page.title}", docs_page_path(@previous_page.slug), class: "text-blue-600 hover:underline" %>
        </div>
      <% end %>

      <% if @next_page %>
        <div class="mt-8">
          <%= link_to "#{@next_page.title} →", docs_page_path(@next_page.slug), class: "text-blue-600 hover:underline" %>
        </div>
      <% end %>
    </div>
  </main>
</article>
