<div class="format max-w-full dark:format-invert">
<h1><%= @code_object.name %></h1>

<%= simple_format(@code_object.docstring) %>

<% if @code_object.tags(:viewcomponent_slot).any? %>
  <div class="tags">
    <p class="tag_title">Slots:</p>
    <ul class="viewcomponent_slot">
      <% @code_object.tags(:viewcomponent_slot).each do |slot_tag| %>
        <li>
          <span class="name"><%= slot_tag.name %></span>
          <% if slot_tag.types&.any? %>
            <span class="type">(<%= slot_tag.types.map { |t| link_to(t, "#") }.join(", ").html_safe %>)</span>
          <% end %>
          <% if slot_tag.text.present? %>
            &mdash; <%= simple_format(slot_tag.text, {}, wrapper_tag: "span") %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%- @code_object.tags(:example).each do |example| %>
  <h2><%= example.name %></h2>
  <pre><code><%= example.text %></code></pre>
<% end %>

<% if @code_object.tags(:lookbook_embed).any? %>
  <h2>Examples</h2>

  <% @code_object.tags(:lookbook_embed).each do |lookbook_tag| %>
    <lookbook-embed panels="source" preview="<%= lookbook_tag.text.strip %>" scenario="*"></lookbook-embed>
  <% end %>
<% end %>
