<article
  class="
    flex flex-wrap md:flex-nowrap gap-8 w-full items-center
    justify-between mx-auto
  "
>
  <nav
    id="default-sidebar"
    class="flex-none h-full transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar"
  >
    <div
      class="
        h-full -ml-2 pr-6 py-4 overflow-y-auto border-e
        border-default
      "
    >
      <ul class="space-y-2 font-medium">
        <% all_components.each do |component| %>
          <li>
            <%= link_to component.name, docs_component_path(:id => component.path), class: "flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <main class="py-4 flex-1 space-y-8">
    <%= render(Docs::Headline::H1.new) { @code_object.path } %>

    <section class="format dark:format-invert">
      <%= render_docstring(@code_object.docstring_introduction, code_object: @code_object) %>
    </section>

    <% if @introduction_preview %>
      <section>
        <lookbook-embed preview="<%= @introduction_preview.preview_class %>" scenario="example"></lookbook-embed>
      </section>
    <% end %>

    <section class="format dark:format-invert">
      <%= render_docstring(@code_object.docstring_without_introduction, code_object: @code_object) %>
    </section>

    <% if @examples.any? %>
      <section>
        <%- @examples.each do |example| %>
          <%= render(Docs::Headline::H2.new) { example.name } %>
          <%= render(Docs::CodeExample.new) do %><%= example.text %><% end %>
        <% end %>
      </section>
    <% end %>

    <% if @previews.any? %>
      <section>
        <%= render(Docs::Headline::H2.new) { "Examples" } %>

        <% @previews.each do |scenario_group| %>
          <div class="mt-8">
            <%= render(Docs::Headline::H3.new) { scenario_group.label } %>
            <div class="my-4">
              <%= render_docstring(scenario_group.scenarios.map { |s| s.notes.presence }.compact.join("\n\n"), code_object: @code_object) %>
            </div>
            <lookbook-embed panels="source" preview="<%= scenario_group.preview.preview_class_name %>" scenario="<%= scenario_group.name %>"></lookbook-embed>
          </div>
        <% end %>
      </section>
    <% end %>

    <%= render(Docs::Headline::H2.new) { "API reference" } %>

    <% if @code_object.type == :class && @code_object.parent && !@code_object.parent.root? %>
      <section>
        Inherits from
          <%= render(Flowbite::Link.new(href: docs_component_path(@code_object.parent))) do %>
          <code><%= @code_object.parent %></code>
        <% end %>
      </section>
    <% end %>

    <% if @child_classes.any? %>
      <section>
        <%= render(Docs::Headline::H3.new) { "In namespace" } %>
        <ul class="list-disc list-inside space-y-2">
          <% @child_classes.each do |subclass| %>
            <li>
              <%= link_to subclass.name, docs_component_path(:id => subclass.path), class: "text-blue-600 hover:underline" %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @viewcomponent_slots.any? %>
      <section>
        <%= render(Docs::Headline::H3.new) { "Slots" } %>
        <table>
          <% @viewcomponent_slots.each do |slot_tag| %>
            <tr>
              <th class="pt-4 text-left align-top" scope="col"><strong><code><%= slot_tag.name %></code></strong></th>
              <td class="pt-4 align-top ps-4"><%= (slot_tag.types || []).join(", ") %></td>
              <td class="pt-4 align-top ps-4"><%= slot_tag.text %></td>
            </tr>
          <% end %>
        </table>
      </section>
    <% end %>

    <% if @constructor %>
      <section>
        <%= render(Docs::Headline::H3.new) { "Constructor" } %>

        <code><%= @constructor.signature %></code>

        <% if @constructor_arguments.any? %>
          <%= render(Docs::Headline::H4.new) { "Parameters" } %>
          <table>
            <% @constructor_arguments.each do |param| %>
              <tr>
                <th class="pt-4 text-left align-top" scope="col"><strong><code><%= param.name %></code></strong></th>
                <td class="pt-4 align-top ps-4"><%= (param.types || []).join(", ") %></td>
                <td class="pt-4 align-top ps-4"><%= param.text %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </section>
    <% end %>

    <section>
      <%= render(Docs::Headline::H3.new) { "See also" } %>
      <%= render(Flowbite::Link.new(href: rubydoc_url(@code_object), data: {turbo: false})) do %>
        Ruby API documentation for
        <code><%= @code_object.type %> <%= @code_object.path %></code>
      <% end %>
    </section>
  </main>
</article>
