<article
  class="
    flex flex-wrap md:flex-nowrap gap-8 w-full max-w-screen-xl items-center
    justify-between mx-auto
  "
>
  <nav
    id="default-sidebar"
    class="flex-none h-full transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar"
  >
    <div
      class="
        h-full px-3 py-4 overflow-y-auto border-e
        border-default
      "
    >
      <ul class="space-y-2 font-medium">
        <% all_components.each do |component| %>
          <li>
            <%= link_to component.name, docs_component_path(:id => component.path), class: "flex items-center px-2 py-1.5 text-body rounded-base hover:bg-neutral-tertiary hover:text-fg-brand group" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>

  <main class="py-4 flex-1 space-y-8">
    <h1 class="mb-4 text-4xl tracking-tight font-bold text-gray-900 dark:text-white"><%= @code_object.path %></h1>

    <% if @code_object.type == :class && @code_object.parent && !@code_object.parent.root? %>
      <section>
        Inherits from
          <%= render(Flowbite::Link.new(href: docs_component_path(@code_object.parent))) do %>
          <code><%= @code_object.parent %></code>
        <% end %>
      </section>
    <% end %>

    <% if @child_classes.any? %>
      <section>
        <h2 class="mb-4 mt-8 text-2xl font-bold">In namespace</h2>
        <ul class="list-disc list-inside space-y-2">
          <% @child_classes.each do |subclass| %>
            <li>
              <%= link_to subclass.name, docs_component_path(:id => subclass.path), class: "text-blue-600 hover:underline" %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <section class="format dark:format-invert">
      <%= simple_format(@code_object.docstring) %>
    </section>

    <% if @viewcomponent_slots.any? %>
      <section>
        <p class="tag_title">Slots:</p>
        <ul>
          <% @viewcomponent_slots.each do |slot_tag| %>
            <li>
              <span><%= slot_tag.name %></span>
              <% if slot_tag.types&.any? %>
                <span>(<%= slot_tag.types.map { |t| link_to(t, "#") }.join(", ").html_safe %>)</span>
              <% end %>
              <% if slot_tag.text.present? %>
                &mdash; <%= simple_format(slot_tag.text, {}, wrapper_tag: "span") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if @examples.any? %>
      <section>
        <%- @examples.each do |example| %>
          <h2 class="mt-8 text-2xl font-bold"><%= example.name %></h2>
          <pre><code><%= example.text %></code></pre>
        <% end %>
      </section>
    <% end %>

    <% if @lookbook_embeds.any? %>
      <section>
        <h2 class="mt-8 text-2xl font-bold">Examples</h2>

        <% @lookbook_embeds.each do |lookbook_tag| %>
          <lookbook-embed panels="source" preview="<%= lookbook_tag.text.strip %>" scenario="*"></lookbook-embed>
        <% end %>
      </section>
    <% end %>

    <% if @constructor %>
      <section>
        <h2 class="mt-8 text-2xl font-bold">Constructor</h2>

        <code><%= @constructor.signature %></code>

        <% if @constructor_arguments.any? %>
          <h3 class="mt-4 text-xl font-bold">Parameters</h3>
          <table>
            <% @constructor_arguments.each do |param| %>
              <tr>
                <th class="pt-4 text-left align-top" scope="col"><strong><code><%= param.name %></code></strong></th>
                <td class="pt-4 align-top ps-4"><%= (param.types || []).join(", ") %></td>
                <td class="pt-4 align-top ps-4"><%= param.text %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </section>
    <% end %>

    <section>
      <h2 class="mt-8 text-2xl font-bold">See also</h2>
      <%= render(Flowbite::Link.new(href: rubydoc_url(@code_object), data: {turbo: false})) do %>
        Ruby API documentation for
        <code><%= @code_object.type %> <%= @code_object.path %></code>
      <% end %>
    </section>
  </main>
</article>
