<div class="format max-w-full dark:format-invert">
<h1><%= @code_object.name %></h1>

<%= simple_format(@code_object.docstring) %>

<%- @code_object.tags(:example).each do |example| %>
  <h2><%= example.name %></h2>
  <pre><code><%= example.text %></code></pre>
<% end %>

<% if @code_object.tags(:lookbook).any? %>
  <h2>Examples</h2>

  <% @code_object.tags(:lookbook).each do |lookbook_tag| %>
    <lookbook-embed panels="source" preview="<%= lookbook_tag.text.strip %>" scenario="*"></lookbook-embed>
  <% end %>
<% end %>

<h2>Constructor</h2>

<% @code_object.meths.select(&:constructor?).each do |meth| %>
  <code><%= meth.signature %></code>
  <%= meth.docstring %>

  <% meth.parameters.each do |name, default| %>
    <div><%= name %></div>
  <% end %>

  <%= meth.inspect %>
<% end %>


<h2>Instance attributes</h2>

<% @code_object.attributes[:instance].each do |name, attr| %>
  <div>
    <code><%= name %></code>
    <%= attr[:read].docstring %>
  </div>
<% end %>


<h2>Methods</h2>

<% @code_object.meths.each do |meth| %>
  <div>
    <code><%= meth.signature %></code>
    <%= meth.docstring %>
  </div>
<% end %>


<h2>Tags</h2>

<% @code_object.tags(:param).each do |tag| %>
  <%= tag.name %>:
  <%= tag.text %>
  <%= tag.inspect %>
<% end %>
</div>
